.second_page_container img{
    max-width: 95%;
}

.image_container{
    margin-top: 40px;
    display: flex;
    flex-direction: column ;
}

.image_container img {
    object-fit: contain;
    transition: all 0.5s ease;
}

/* .image_container:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease;
} */

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.image_container p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
    opacity: 0;
    margin-top: 8px;
    margin-left: 8px;
 }

@media(max-width: 560px){
    
    .second_page_container{
        max-width: 95%;
        margin-left: 15px;
      }

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.image_container p {
    opacity: 1;
  z-index: 1;
   
}
}