.second_page_container{
    width: 460px;
    height: 460px;
    position: relative;
    margin:  50px 0px 10px 0px;
   
  }

.picture {
  
    width: 460px;
    height: 460px;
    object-fit: contain;
    transition: all 0.5s ease;
    position: absolute;
   
  }

.picture:hover {
    transform: scale(1.05, 1.05);
}

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.grid p {
    opacity: 0;
   
}
.grid:hover p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top:400px;
    opacity: 1;
  
 
}

@media(max-width: 560px){
    
    .second_page_container{
        width: 360px;
        height: 360px;
        margin:  30px 10px 0px 10px;
        position: relative;
      }

      .picture {
        width: 360px;
        height: 360px;
        object-fit: contain;
        transition: all 0.5s ease;
        position: absolute;
        cursor: pointer;
}   

.picture:hover {
    transform: scale(1, 1);
}

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.grid p {
    opacity: 1;
    position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
   
}
.grid:hover p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top: 380px;
    opacity: 1;
    transition: opacity 1s; 
  z-index: 1;
 
}




}