.second_page_container img{
    max-width: 95%;
}

.image_container{
    margin-top: 40px;
    display: flex;
    flex-direction: column ;
}

.image_container img {
    object-fit: contain;
    transition: all 0.5s ease;
}

/* .image_container:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease;
} */

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.image_container p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
    opacity: 0;
    margin-top: 8px;
    margin-left: 8px;
 }

@media(max-width: 560px){
    
    .second_page_container{
        width: 360px;
        height: 360px;
        margin:  30px 10px 0px 10px;
        position: relative;
      }

      .picture {
        width: 360px;
        height: 360px;
        object-fit: contain;
        transition: all 0.5s ease;
        position: absolute;
        cursor: pointer;
}   

.picture:hover {
    transform: scale(1, 1);
}

.second_page_container a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.grid p {
    opacity: 1;
    position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
   
}
.grid:hover p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top: 380px;
    opacity: 1;
    transition: opacity 1s; 
  z-index: 1;
 
}




}