
.pic_array {
    padding: 20px;
    /*border:10px solid blue;*/
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 400px){
 .pic_array{
    padding: 17px;
    max-width: 400px;
    display:inline-grid;
    grid-template-columns: repeat(1, 1fr);
 }

}