.arch_pic_array {
    display:inline-grid;
    grid-template-columns: repeat(3, 3fr);
   }


   @media(max-width: 560px){
    .arch_pic_array{
       margin-top: 30px;
    
       padding: 10px;
       max-width: 400px;
       display:inline-grid;
       grid-template-columns: repeat(1, 1fr);
    }
   
   }
