.main {
    min-height: calc(100vh - 270px);
    display: flex;
    margin-top: 110px;
    align-items: center;
    justify-content: center;

 
}
.main a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 293px;
    width: 229px;
    cursor: pointer;
    margin-left: 150px;
    margin-bottom: 70px;
   display: flex;
    align-items: center;
    justify-content: center;
     }

     .logo_title{
        display: flex;
    align-items: center;
    justify-content: center;
        font-family: 'Montserrat';
         font-weight:  200;
         font-size: 20px;
         text-transform: uppercase;
         margin-left: 30px;
    }
       
       

     @media(max-width: 420px){
        .main {
             /* border: 1px solid red; */
            min-height: calc(100vh - 270px);
            display: flex;
            padding-top: 0px;
            align-items: center;
            justify-content: center;
           width: 400px;
          
        }
        .main a {
            text-decoration: none;
            color: black;
        }
        
        .logo img {
            
            height: 146.5px;
            width: 114.5px;
            cursor: pointer;
           margin-bottom: 30px;
           margin-left: 117px;
           display: flex;
            align-items: center;
            justify-content: center;
             }
        
             .logo_title{
               
                display: flex;
            align-items: center;
            justify-content: center;
                font-family: 'Montserrat';
                 font-weight:  200;
                 font-size: 13px;
                 text-transform: uppercase;
                 margin-left: 0px;

               
            
            
            }
               
     }

   

    
