.main {
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
 
}
.main a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 200px;
    width: 200px;
    cursor: pointer;
   display: flex;
   justify-content: center;
   margin-left: 80px;
     }

     .logo_title h1:nth-child(2){
        margin-left: 75px;
       }

     @media(max-width: 400px){
        .logo img{
            height: 110px;
            width: 110px;
            object-fit: contain;
            margin-left: 110px;
        }
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 200px;
        }
       
     }

   

    
