.architecture_container img{
  max-width: 95%;
 }

 .arch_img_container{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
 }
.arch_img_container img{
  object-fit: contain;
  
  }
/* 
.arch_img_container img:hover {
    transform: scale(1.1, 1.1);

  } */

  .arch_img_container a {
    text-decoration: none;
    color: black;
  }

  .arch_img_container p {
    opacity: 0;
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
  opacity: 0;
    margin-top: 8px;
    margin-left: 8px;
  }

  .arch_img_container:hover p{
    opacity: 1;
    z-index: 1;
    

  }

  @media(max-width: 420px){
    
    .architecture_container {
      max-width: 95%;
      margin-left: 15px;
      }

      /* .arch_avatar {
      
        object-fit: contain;
        transition: all 0.5s ease;
        position: absolute;
        cursor: pointer;
}    */

/* .arch_avatar:hover {
    transform: scale(1, 1);
} */

.architecture_grid a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.arch_img_container p{
   
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top: 0px;
    opacity: 1;
    transition: none;
  z-index: 1;
 
} 
}
