.architecture_grid{
  width: 400px;
  height: 400px;
  margin:  70px 40px 10px 40px;
  position: relative;
 }
.arch_avatar {
  
    width: 450px;
    height:450px;
    object-fit: contain;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.arch_avatar:hover {
    transform: scale(1.1, 1.1);

  }

  .architecture_grid a {
    text-decoration: none;
    color: black;
  }

  .architecture_grid p {
    opacity: 0;
  }

  .architecture_grid:hover p{
    opacity: 1;
    transition: opacity 1s; 
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top: 380px;
  }

  @media(max-width: 560px){
    
    .architecture_grid{
        width: 360px;
        height: 360px;
        margin:  30px 10px 0px 10px;
        position: relative;
      }

      .arch_avatar {
        width: 360px;
        height: 360px;
        object-fit: contain;
        transition: all 0.5s ease;
        position: absolute;
        cursor: pointer;
}   

.arch_avatar:hover {
    transform: scale(1, 1);
}

.architecture_grid a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.architecture_grid p {
    opacity:1;
    position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
   
}
.architecture_grid:hover p{
    position: absolute;
    font-family: 'Montserrat';
font-weight:  600;
font-size: 15px;
top: 380px;
    opacity: 1;
    transition: opacity 1s; 
  z-index: 1;
 
}
}
