.top {
    padding-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
  
}
.project_item_left{
    margin-top: 50px;
    text-align: justify;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Montserrat';
    transition: all 0.5s ease;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.3s forwards;
  }

  .project_item_left h1{
    font-size: 38px;
    font-weight: 900;
    font-family: 'Montserrat';
  }

  .project_item_left h2{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Montserrat';
  }
  .project_item_left h3{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat';
  }
  .project_item_left h4{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat';
  }
  .project_item_left h5{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
  }
  .project_item_left h4:nth-child(6) {
     margin-top: 20px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
        font-family: 'Montserrat';
      
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.avatar {
    height: 600px;
    width: 600px;
    object-fit: contain;
    transition: all 0.5s ease;
    
}
.avatar:hover{
    transform: scale(1.1, 1.1);
}
.arr_photo {
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    left: 60px;
    height: 400px;
    width: 400px;
    margin: 30px;
    object-fit: contain;
    transition: all 0.5s ease;
   
}
.arr_photo:hover {
    transform: scale(2.2, 2.2);
}

   @media(max-width: 560px){
    .avatar {
        height: 360px;
        width: 360px;
        margin: 5px;
        object-fit: contain;
       
        
    }
    /* .arr_project_photo{
    max-width: 400px;
    margin-left: -45px;
    margin-top: 180px;
    }
    */
    .arr_photo {
        display:inline-grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        height: 360px;
        width: 360px;
        margin: 5px;
        margin-top: 95px;
       
        object-fit: contain;
        
    }

    .project_item_right{

        height: 200px;
        width: 300px;
        display: flex;
        line-height: 10px;
        flex-direction: column;
        justify-content:space-between;
        transition: all 0.5s ease;
} 
.top {
    margin-top: 30px;
   display: flex; 
   flex-direction: column;
   padding-bottom: 20px;
}
.project_descr{
   display: none;
    width: 380px;
    margin-left: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Montserrat';
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
 }
 .project_item_left{
    padding-top: 30px;
    padding-left: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Montserrat';
    transition: all 0.5s ease;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.3s forwards;
  }
.arr_project_photo{

}

}

